:root {
  /* dark-mode */
  --impactColor: #f39c12;
  --hoverColor: #e67e22;
  --bgColor: #191724;
  --boxColor: #1f1d2e;
  --contactBoxColor: #26233a;
  --textColor: #e0def4;
  --sutleTextColor: #908caa;
  --mutedTextColor: #6e6a86;
  --mediumHighlightColor: #403d52;

  /* light-mode */
  --impactColorLight: #3e8fb0;
  --hoverColorLight: #9ccfd8;
  --bgColorlight: #faf4ed;
  --boxColorlight: #fffaf3;
  --contactBoxColorlight: #f2e9e1;
  --textColorLight: #575279;
  --sutleTextColorLight: #797593;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: background-color 0.6s, color 0.05s;
  transition-timing-function: ease;

  /* border: 1px dashed pink; */
}

html {
  background-color: var(--bgColor);
}

body {
  max-width: 96%;
  margin: auto;
  line-height: 1.2;
  font-family: rubik, Arial, sans-serif;
  color: var(--textColor);
  /* border: 1px dashed pink; */
}

header {
  padding: 4px;
  margin-bottom: 8px;
  text-align: center;
  /* border: 1px dashed pink; */
}

nav {
  text-decoration: none;
  font-size: 1.2rem;
  /* border: 1px dashed pink; */
}

main {
  padding: 8px;
  margin-bottom: 20px;
  background-color: var(--boxColor);
  border-radius: 8px;
}

h1 {
  font-size: 2.4rem;
  color: white;
  text-align: center;
}

h1,
h2 {
  text-transform: uppercase;
}

h1,
h2,
h3 {
  font-family: Oswald;
}

h2 {
  color: var(--impactColor);
  font-size: 1.6rem;
  margin: 16px 0 8px;
  padding-top: 4px;
}

h3 {
  font-size: 1.3rem;
  margin: 10px 0 5px;
}

h4 {
  font-size: 1rem;
  margin-bottom: 8px;
}

a {
  color: var(--impactColor);
  text-decoration: none;
}

a:hover {
  color: var(--hoverColor);
}

ul {
  list-style: disc outside;
  margin: 10px 0;
  padding-left: 20px;
}

#greetbox {
  background-color: var(--contactBoxColor);
  padding-bottom: 20px;
  padding-top: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.headercontact {
  background-color: var(--bgColor);
  text-align: center;
  margin-bottom: 20px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;

  /* border: 1px dashed pink; */
}

#resume {
  padding-left: 16px;
}

.exp_full {
  margin-bottom: 16px;
}

.exp_list {
  border-left: 4px solid var(--mediumHighlightColor);
}

.exp_list ul {
  margin-left: 20px;
  margin-bottom: 8px;
}

.exp_list ul li {
  list-style-type: disc;
  margin-bottom: 8px;
}

.footcontact {
  background-color: var(--bgColor);
  text-align: center;
  margin-top: 30px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  /* border: 1px dashed pink; */
}

.shoebox {
  background-color: var(--contactBoxColor);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 10px;
  /* border: 1px dashed pink; */
}

a[href="#top"] {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: var(--impactColor);
  font-size: 1rem;
  text-decoration: none;
  background-color: rgba(38, 35, 58, 0.5);
  padding: 4px 8px;
  border-radius: 8px;
  z-index: 1000;
  border: 1px solid var(--impactColor);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

a[href="#top"]:hover {
  background-color: var(--hoverColor);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
}


article:nth-child(1) {
  grid-row: span 2 / span 2;
}

article:nth-child(3) {
  grid-column-start: 2;
}

article:nth-child(4) {
  grid-row-start: 3;
}

article:nth-child(5) {
  grid-row-start: 3;
}

@media (max-width: 1200px) {
  body {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: center;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 0.9rem;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
